<div class="drawer">
	<div class="drawer__wrapper">
		<div class="drawer__head">
			<div class="drawer__logo">
				<img class="_fw" src="img/site-bar/logo.svg" alt="">
			</div>
			<button class="drawer__close">
				<svg class="drawer__icon" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path d="M7.69101 6.51071L12.753 1.44861C13.0824 1.11934 13.0824 0.586962 12.753 0.257693C12.4237 -0.0715749 11.8913 -0.0715749 11.562 0.257693L6.49994 5.31979L1.43799 0.257693C1.10856 -0.0715749 0.576336 -0.0715749 0.247067 0.257693C-0.0823558 0.586962 -0.0823558 1.11934 0.247067 1.44861L5.30902 6.51071L0.247067 11.5728C-0.0823558 11.9021 -0.0823558 12.4345 0.247067 12.7637C0.411162 12.928 0.626922 13.0105 0.842527 13.0105C1.05813 13.0105 1.27374 12.928 1.43799 12.7637L6.49994 7.70163L11.562 12.7637C11.7263 12.928 11.9419 13.0105 12.1575 13.0105C12.3731 13.0105 12.5887 12.928 12.753 12.7637C13.0824 12.4345 13.0824 11.9021 12.753 11.5728L7.69101 6.51071Z"/>
				</svg>
			</button>
		</div>
		<div class="drawer__body _js-scrollbar">
			<ul class="drawer__list">
				<li class="drawer__item">
					<a class="drawer__link" href="/">Главная</a>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="/">Наши услуги</a>
					<button class="drawer__btn">
						<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
						</svg>
					</button>
					<ul class="drawer__subnav">
						<li class="drawer__prev">
							<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
							</svg>
							<span class="drawer__info">Назад</span>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Установка сантехники</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка ванны</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка писсуара</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка и подключение джакузи</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка фильтров для очистки воды</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Разводка сантехники в новостройке</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Сборка и установка душевой кабины</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка гигиенического душа</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка унитаза</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка смесителя</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка биде</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">работы для частного дома</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Бурение скважин на воду</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Монтаж выгребной ямы</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка септика</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка кессона</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Ремонт и отделка</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт ванной комнаты</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт санузла</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт туалета</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт кухни</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Объединение ванной и туалета</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Перенос мокрой зоны</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Перенос санузла</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Перенос кухни</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Укладка плитки</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Укладка кафеля</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Укладка мозаики</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Отделка панелями ПВХ</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Ремонт сантехники</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт душевых кабин</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт сололифта</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт бачка унитаза</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт смесителя</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Монтаж систем отопления</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Разводка труб отопления</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Замена стояков отопления</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Замена труб отопления</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка полотенцесушителя</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Монтаж водяного теплого пола</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка котла отопления</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Промывка систем отопления</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Разморозка труб отопления</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Монтаж канализации</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Прокладка канализации</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Разводка труб канализации</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Замена стояка канализации</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка и замена сифона</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка сололифта</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка жироуловителя</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Разморозка труб канализации</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Монтаж систем водоснабжения</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Монтаж труб водоснабжения</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Монтаж водопровода</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка гребенки</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Пайка и сварка труб</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Замена стояков водоснабжения</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка редуктора давления воды</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Устранение протечек</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Разморозка труб водопровода</a>
								</li>
							</ul>
						</li>
						<li class="drawer__item">
							<a class="drawer__link" href="services-1lvl.html">Бытовые услуги</a>
							<button class="drawer__btn">
								<svg class="drawer__arrow" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
								</svg>
							</button>
							<ul class="drawer__subnav">
								<li class="drawer__prev">
									<svg class="drawer__icon-prev" viewbox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
										<path d="M0.93934 13.0607C0.353553 12.4749 0.353553 11.5251 0.93934 10.9393L10.4853 1.3934C11.0711 0.807611 12.0208 0.807611 12.6066 1.3934C13.1924 1.97918 13.1924 2.92893 12.6066 3.51472L4.12132 12L12.6066 20.4853C13.1924 21.0711 13.1924 22.0208 12.6066 22.6066C12.0208 23.1924 11.0711 23.1924 10.4853 22.6066L0.93934 13.0607ZM5 13.5L2 13.5L2 10.5L5 10.5L5 13.5Z"></path>
									</svg>
									<span class="drawer__info">Назад</span>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Поверка счетчиков воды</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт стиральных машин</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Установка посудомоечной машин</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт посудомоечных машин</a>
								</li>
								<li class="drawer__item">
									<a class="drawer__link" href="services-2lvl.html">Ремонт бойлеров и водонагревателей</a>
								</li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="about.html">О нас</a>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="prices.html">Цены</a>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="offer-all.html">Акции</a>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="gallery.html">Наши работы</a>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="reviews.html">Отзывы</a>
				</li>
				<li class="drawer__item">
					<a class="drawer__link" href="contact.html">Контакты</a>
				</li>
			</ul>
		</div>
		<div class="drawer__footer">
			<div class="drawer__phone">
				<div class="phone">
					<div class="phone__note">Круглосуточно и без выходных</div>
					<a class="phone__phone" href="tel:+79999999999">+7 (999) 999-99-99</a>
				</div>
			</div>
			<div class="drawer__callback">
				<button class="btn btn_size_sm btn_type_secondary" data-trigger-modal="callback">Заказать звонок </button>
			</div>
		</div>
	</div>
</div>