@import 'variables', '_mixin.scss', '_reset.scss', '_ui.scss';

// @import '@/blocks/drawer/drawer.scss';

html,
body {
  font-family: 'Gilroy', 'Helvetica', 'Arial', 'sans-serif';
  font-size: 14px;
  display: flex;
  flex-direction: column;
  white-space: inherit;
}
