{% extends "layout.njk" %}

{% block content %}
	<div class="content">
		<picture>
			<source class="" type="image/webp"  srcset="{{img}}/car.webp">
			<img class=""  src="{{img}}/car.jpg">
		</picture>
		{# <img src="{% static 'images/info-1.svg' %}" alt=""> #}

	</div>
{% endblock %}