{% extends "layout.njk" %}

{% block content %}
	<div class="content">

		<img src="{% static 'images/car.jpg' %}" alt="">

		<img src="{% static 'footer/img/car.jpg' %}" alt="">
		{# <img src="{% static 'images/info-1.svg' %}" alt=""> #}

	</div>
{% endblock %}