<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="cleartype" content="on">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
        <title>ALLIANCE TECHNOLOGY LLC</title>

        <link rel="stylesheet" href="{{htmlWebpackPlugin.options.templateParameters.fonts}}/montserrat/stylesheet.css">
        {% for name, item in bundles.css %}
            <link rel="stylesheet" href="{{ item }}">
        {% endfor %}
    </head>
    <body>
        <div></div>
        {% include "blocks/header/header.njk" %}
        {% include "blocks/drawer/drawer.njk" %}
        <main class="main">
            {% block content %}{% endblock %}
        </main>

        {% include "blocks/footer/footer.njk" %}

        {% for name, item in bundles.js %}
            <script src="{{ item }}"></script>
        {% endfor %}

    </body>
</html>